<<<<<<< HEAD
.grade-table-container h3,
.noGradeContainer h3 {
=======
.grade-table-container h3 {
>>>>>>> 98ad0f66c03ec6d13485689bba55708e6d86d80d
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    background: black;
    color: white;
    font-size: 1.25em;
}
.grade-table-container table {
    margin: 0.5em 0;
}
.grade-table-container td:first-child {
    text-align: left;
}
.grade-table-container td:last-child {
    text-align: right;
<<<<<<< HEAD
}

.noGradeContainer {
    height: 10vh;
    width: 20vw;
=======
>>>>>>> 98ad0f66c03ec6d13485689bba55708e6d86d80d
}