.landingPage-content h1 {
    font-size: 2em;
    padding: 0.5em;
}

.landingPage-content p {
    display: block;
}

.landingPage-links {
    padding: 1em;
    width: 100%;
}
.landingPage-links a {
    padding: 0.5em;
    margin: 0 0.5em;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}
